@{
Layout = null;

}

<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Login">
                            Log In
                        </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href=/Account/Register">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-10 my-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@* @section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectichAsync("Scripts", required: false) *@