
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PurchaseApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5 mt-5">
                <div class="card login-logout-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="/Account/Login">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Account/Register">Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-10 my-4">
                                @RenderBody() 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>