@model PurchaseApp.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/User_Layout.cshtml";
}

<h2>Login</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Login</button>
</form>

<div>
    <p>
        Don't have an account? <a asp-action="Register">Register</a>
    </p>
</div>